body{
font-family: 'Oswald', sans-serif;
}
.header{
	margin-top: -20px;
	background-color:#191C23;
}

.nav{
	padding:5px 0;
}

.nav li {
	float: right;
	display:inline;
	padding:20px;
	color:#E2FBFB;
	font-family: Lato, sans-serif;
	font-weight: 600;
	font-size: 18px;
}
#login{
  border: 1px solid white;
  padding: 10px;
	margin-top: 8px;
}

/*check to see if this looks the same as index.html*/
.jumbotron {
	background-image: url("images/jumbopic.png");
	text-align:center;
 	color:#E2FBFB;
	padding:50px;
	height:600px;
	background-size: cover;

}

#jumbo {
	padding-top: 250px;
}
/*This is in relation to opcaity, maybe add these to see fi i can do it, but make comment to hide until it makes sense to actually add */
.examples {
	background-color: black;
}

.family,
.cocktails,
.hipster,
.wine-bar,
.casual,
.outdoor {
	width: 33.3%;
	opacity: .7;
	background-size: cover;
}
.family {

		background-image: url("images/menu-restaurant-vintage-table.png");

}

.cocktails {

		background-image: url("images/alcohol-bar-drinks-party.png");

}

.hipster {

		background-image: url("images/pexels-photo.png");

}

.wine-bar {

		background-image: url("images/pexels-photo-66636.png");

}
.casual {

		background-image: url("images/restaurant-alcohol-bar-drinks.png");

}
.outdoor {

		background-image: url("images/city-restaurant-lunch-outside.png");

}

.title-push {
	margin-top: 270px;
	color: #fff;
}


.icons {
	font-size: 5em;

}
.labels {
	text-align: center;
}
.iconslabels{
	margin-top: 100px;
}

.spotlight{
	background-color: #28373B;
	width:100%;
}

#media {
	color:#ACACAC;
	display: flex;
	justify-content: center;
	font-size: 4em;
}

.footer{
	background-color:#191C23;
	color:#fff;
	padding:30px 0;

}

.footer p {
	font-family:Lato, sans-serif;
	font-size:12px;
  padding-right: 50px;
}
/*fix this do I need a separate id to make just the footnernav spaced out?*/
#footernav {
	word-spacing: 30px;
}
