body{
  font-family: 'Open Sans', sans-serif;
margin: 0px;
padding: 0px;
}
.header{
	/*margin-top: -20px;*/
	background-color:#191C23;
	padding:5px 0;
}
.nav{
 width: 800px;
 float: right;
}
.nav li {
	float: right;
	display:inline;
	padding:20px;
	color:#E2FBFB;
	/*Need font*/
	font-weight: 600;
	font-size: 18px;
}
#login{
  border: 1px solid white;
  padding: 10px;
	margin-top: 8px;
}
/*.header {
	margin-top: -20px;
	background-color:#191C23;
	display:inline;
	padding:20px;
	color:#E2FBFB;
	font-family: Lato, sans-serif;
	font-weight: 600;
	font-size: 18px;
	overflow:auto;
	height:80px;
}*/
#headerlogo {
	float: left;
	padding:5px 0 0 0;
}
#login {
	float: right;
  border: 1px solid white;
  padding: 10px;
	margin-top: 8px;
}
.hero {
	background-image: url("images/jumbopic3.png");
	text-align:center;
 	color:#E2FBFB;
	padding:50px;
	height:600px;
	background-size: cover
	margin-bottom: 0px;
}
/*mess around with the text color*/
#tagline {
	font-size: 5em;
	padding-top: 50px;
	color white;
}
#examplesheader {
	background-color:#28373B;
	padding:15px 0px;
	margin: 0px;
	color:#ACACAC;
	text-align: center;
	font-size: 1.8em;
	color:#57BC83;
 }
/*This is in relation to opcaity, maybe add these to see fi i can do it, but make comment to hide until it makes sense to actually add */
.examples {
	background-color:#191C23;
}
.family,
.cocktails,
.hipster,
.wine-bar,
.casual,
.outdoor {
	width: 33.33%;
	opacity: .8;
	background-size: cover;
}
.family {
		background-image: url("images/menu-restaurant-vintage-table.png");
}
.cocktails {
		background-image: url("images/alcohol-bar-drinks-party.png");
}
.hipster {
		background-image: url("images/pexels-photo.png");
}
.wine-bar {
		background-image: url("images/pexels-photo-66636.png");
}
.casual {
		background-image: url("images/restaurant-alcohol-bar-drinks.png");
}
.outdoor {
		background-image: url("images/city-restaurant-lunch-outside.png");
}
.title-push {
	margin-top: 270px;
	color: #fff;
}
/*play around with the class name. can i actually use fa fa-search etc fot he class and only have one*/
.icons {
	font-size: 5em;
}
.labels {
	text-align: center;
}
.iconslabels{
	margin: 100px 100px 100px 90px;
}
.center{
	text-align: center;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
/*will this work for the p's under the icons and labels?*/
/*is droid serif the correct spelling??*/
.iconslabels p {
}
.spotlight{
	background-color: #28373B;
	width:100%;
	padding: 50px;
}
#media {
	color:#ACACAC;
	display: flex;
	justify-content: center;
	font-size: 1.8em;
	color:#57BC83;
}
.iconsocial{
	Float: right;
  padding:6.5px;
}
.applelogo {
	float: right;
  position: relative;
  bottom: 50px;
  left: 122px;
  }

.footer{
	background-color:#191C23;
	color:#fff;
	padding:20px 0;
}
/*does this css section include footer nav text??*/
.footer p {
	font-size:12px;
  padding-right: 50px;
}
/*fix this do I need a separate id to make just the footnernav spaced out?*/
.footernav {
	word-spacing: 30px;
}
